* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1200px;
    height: 50px;
    margin: 0 auto;
    background-color: #444444;
    color: #9f9f9f;
    letter-spacing: -1px;
}

.header__menu ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    width: 800px;
}

.header__menu a {
    color: #9f9f9f;
    text-decoration: none;
    font-size: 17px;
    padding: 5px 27px;
    border-right: 1px solid rgba(159, 159, 159, .3);
}

.header__btn {
    width: 270px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
    font-size: 15px;
}

.header__links a {
    color: #9f9f9f;
    border-bottom: 1px dotted #9f9f9f;
    text-decoration: none;
}

.person,
.shoePrintsIcon {
    margin-right: 10px;
    font-size: 15px;
}

.shoePrintsIcon {
    transform: rotate(270deg) scaleY(-1);
    border: none;
}

.header__langs {
    display: flex;
    width: 50px;
    margin-right: 20px;
    justify-content: space-around;
}

.header__menu a:hover,
.header__links a:hover,
.header__links div:hover,
.header__langs div:hover {
    color: #b8f61f
}

.active {
    border-bottom: 1px dotted #9f9f9f;
}