* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin-left: 10px;
    display: flex;
    width: 204px;
    height: 200px;
    background-color: #2b2f32;
}

.nav .nav__item {
    width: 175px;
    margin: 3px 0 4px 15px;
    list-style-type: none;
}

.nav__link {
    width: 100%;
    text-decoration: none;
    color: #d3d3d3;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    display: block;
    padding: 4px 5px 4px;
    border: 2px groove #525252;
    border-right: transparent;
    border-radius: 3px 0 0 3px;
}

.nav .nav__link:active {
    background-color: #202427;
    border: 2px inset #323639;
    border-right: transparent;
    border-radius: 3px 0 0 3px;
}